.u-layout-barrier {
  max-width: 31.25rem;
  padding: 0 2rem;
  width: 100%;
}

.u-flex {
  display: flex;
  &-col {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }
}

.u-justify {
  &-center {
    justify-content: center;
  }
}
.u-items {
  &-center {
    align-items: center;
  }
}
